:root {
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
}

.cal-component {
    width: 600px;
    height: 480px;
    background-color: var(--White);
    overflow: hidden;
    border-radius: 20px 20px 150px 20px;
    padding: 50px;
}

@media screen and (max-width: 600px) {
    .cal-component {
        width: 80vw;
    }
}